body
{
    background:rgba(167, 167, 167, 0.158);
}

header
{
    background-image:linear-gradient(#04519b,#044687 60%,#033769);
    color:#fff;
    min-height:100px;
    padding-top:25px;
}

header form
{
    float:right;
}

header .logo
{
    float:right;
}

.check-box
{
    margin-left:56%;
}

#logo 
{
    visibility: hidden;
}

.jumbotron
 {
    padding: 3%;
    height:40px;
    background:#007bff;
    color:white;
    width:60%;
    float:right;
}

.card-header
{
    background-image:linear-gradient(#04519b,#044687 60%,#033769) !important;
    color:#fff;
}

.bubble
{
    position:relative;
    width:100%;
    min-height:65px;
    padding:15px;
    background:#fff;
    border-radius:10px;
    border:1px solid #ccc;
}

.bubble::after
{
    content:'';
    position:absolute;
    border-style:solid;
    border-width:15px 15px 15px 0;
    border-color:transparent #fff;
    display:block;
    width:0;
    z-index:1;
    margin-top:-15px;
    left:-15px;
    top:50%;
}

.bubble::before
{
    content:'';
    position:absolute;
    border-style:solid;
    border-width:15px 15px 15px 0;
    border-color:transparent #ccc;
    display:block;
    width:0;
    z-index:0;
    margin-top:-15px;
    left:-16px;
    top:50%;
}


.item-icons
{
    margin-bottom:35px;
    margin-top:10px;
}

.comment-form .form-row
{
    width:90%;
}

.comment-form input[type = "text"]
{
    width:100%;
}

.comment-avatar img
{
    width:40px;
    margin-right:5px;
}

.comment
{
    border:1px solid #ccc;
    border-radius:5px;
    padding:3px;
    margin:5px 0 ;
    overflow:auto;
    width:100%;
}

.friends li
{
    list-style:none;
    padding:5px;
    display:inline;
    float:left;
}

.friends img
{
    width:65px;
}

.groups img
{
    width:80px;
    float:left;
    margin-right:15px;
}

.group-item
{
    padding-bottom:10px;
    margin-bottom:20px;
    border-bottom:1px solid #ccc;
    overflow:auto;
}

footer
{
    background:#f4f4f4;
    height:90px;
    color:#04519b;
    font-weight:bold;
    text-align:center;
    padding-top:40px;
    margin-top:30px;
    border-top:7px solid #04519b;
}

.addbackground
{
    background:white;
    margin-top:30px;
}

.hello
{
    margin-top:20px;
    
}

@media screen and (max-width:900px)
{
     .addd
     {
            display: block;
            width: 100%;
            border: none;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            margin-bottom:15px;
         
     }

     .jumbotron {
        background:#007bff;
        color:white;
        width:100%;
        float:left !important;
        padding:0  !important;
        font-size: 16px;
    }
}

/*
@media screen and (max-width:600px)
{
     .addd
     {
            display: block;
            width: 100%;
            border: none;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            margin-bottom:15px;
         
     }

     .jumbotron {
        padding: 3%;
        background:#007bff;
        color:white;
        width:100%;
        float:none;
        padding: 14px 28px;
        font-size: 16px;
    }
}

@media screen and (max-width:900px)
{
     #commentForm
     {
         width:50% !important;
     }
}
*/

@media screen and (max-width:1000px)
{
    .jumbotron {
        padding-top:0px;
        background:#007bff;
        color:white;
        width:100%;
        float:none;
        font-size: 33px;
        height:40px;

    }

    
    .addd
    {
           display: block;
           width: 100%;
           border: none;
           padding:0;
           font-size: 30px;
           margin-bottom:15px;
        
    }
}

@media screen and (max-width:800px)
{
    .add-comment
    {
        display:none !important;
    }
    
    .hello{
    margin-bottom:20px;}

    .friends
    {
        margin-top:20px;
    }

}

@media screen and (max-width:670px)
{
    .friends
    {
        margin-top:20px;
    }

}

@media screen and (max-width:600px)
{
    h1{
        font-size:4rem !important;
    }
}

@media screen and (max-width:400px)
{
    h1{
        font-size:3rem !important;
    }
    .jumbotron {
        padding-top:0px;
        background:#007bff;
        color:white;
        width:100%;
        float:none;
        font-size: 23px;
        height:40px;

    }

    
    .addd
    {
           display: block;
           width: 100%;
           border: none;
           padding:0;
           font-size: 20px;
           margin-bottom:15px;
        
    }
}

